

html  {background-color: cornflowerblue;
}


body { 
    background-color:cornflowerblue;
    font-size: 1.5rem;

}

nav { 
overflow: hidden;
text-align: center;
background-color: orange;
}


nav a {
    text-align: center;
    float: left;
    color:red;
    text-decoration: none;
    display: block;

    padding: 25px;
    background-color:orange;
}

nav a:hover { color:darkblue;
    background-color: darkorchid;

}




h1 {
    color:brown;
 
}

header {font-size: 0.8rem;
    padding: 10px;
text-align: center;
background-color: cornflowerblue;
margin: 0;
}

